$color-brand-primary:                   #EDC951;
$color-brand-secondary:                 #CC333F; // Red
$color-brand-tertiary:                  #EB6841; // Orange
$color-brand-quarternary:               #00A0B0; // Green-blue
$color-brand-dark:                      darken($color-brand-quarternary, 20%);

$color-grey:                            #CCCCCC;
$color-grey-lighter:					#F8F8F8;
$color-grey-light:						#F4F4F4;
$color-grey-medium:						#4E4E4E;
$color-grey-dark:                       #2a2a2a;

$color-page-text:                         #111111;
$color-page-link:                         $color-page-text;
$color-page-heading:                      #373737;

// Header
$color-header-background:                 $color-grey-dark;

// Fact
$color-fact-primary:                      $color-brand-primary;

// Footer
$color-footer-background:                  $color-brand-tertiary;
$color-footer-line:                        $color-brand-tertiary;
$color-footer-line-secondary:              $color-footer-line;
$color-footer-link-line:                   $color-footer-line;
$color-subfooter-background:               $color-brand-tertiary;

// Callout
$color-callout-background:                $color-brand-primary;

// Main menu
$color-main-menu:                         #FFFFFF !default;