// Font sizing
$base-font-size:     				15px;
$base-line-height:   				20px;

// Base units
$base-radius:                       10px;
$base-spacing-unit:  				20px;

// Banner
$banner-padding:                    70px;

// Header
$header-bar-height:     			32px;
$header-height:         			75px;

// To be changed once there is a new logo
$logo-height:		 				30px;

// Menu
$main-menu-item-padding:			20px; 

// Callout
$callout-padding: 					($base-spacing-unit + 10);

// Button
$btn-radius:                        $base-radius;

// Fonts
$font-size-h1:                      ($base-font-size * 2.6);
$font-size-h2:                      ($base-font-size * 1.5);
$font-size-h3:                      ($base-font-size * 1.4);
$font-size-h4:                      ($base-font-size * 1.4);
$font-size-h5:                      ($base-font-size * 1.2);
$font-size-h6:                      ($base-font-size * 0.9);

$font-primary: 		'Roboto';
$font-secondary: 	'IBM Plex';
$font-tertiary: 	'IBM Plex';

$banner-list: about speakers schedule sponsors socials venue diversity tickets speakers videos;