.page-head .main-menu,
.mobile-nav .main-menu{

    &__item{

        &:last-child{

            a{
                padding:7px 20px 7px 20px;
            }
        }
    }

    &__link{

		&:hover,
		&.-is-active{
            color:$color-white;
            text-decoration:none;
            background:$color-brand-primary;

			@include respond(large){
                color:$color-brand-primary;
                background:none;
			}
		}
	}
}