.page-footer{
    text-align:center;
    border-top:none;
    padding:50px;
    
    &__logo{
        display:inline-block;
        height:20px;
    }

    ul{
        display:block;

        li{
            border-left-color:currentColor;
        }
    }
}