.banner{
	position:relative;
	min-height:160px;
	padding:70px 20px;
	background-image:url(/assets/images/banner.jpg);
	background-size:cover;
	background-color:rgb(40,55,105);
	background-position:center center;

	@include respond(mobile-only){
		padding-top:40px;
		padding-bottom:40px;
	}

	&.--tall{
		min-height:400px;
		padding:100px 0;
	}

	span{
		display:block;
	}

	h1,
	h2{
		@include font-family(secondary);
		@include font-weight(bold);
		text-transform:uppercase;
		color:$color-white;
	}

	p{
		margin:20px 0 0 0;
		max-width:500px;
		color:$color-white;
		font-size:1.2rem;
	}

	.intro{
		margin:20px 0;
		@include font-size($base-font-size*1.2);
		line-height:1.3em;
		color:#000;
		text-shadow:0 0 20px #fff, 1px 1px 0px #fff;
	}
}